<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Classy</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li> 
          <%= link_to "Logout", session_url, method: :delete %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="root" ></div>
<script>
  $(function(){
    SeatingApp.CURRENT_USER_ID = <%=current_user.id %>
    SeatingApp.initialize();

  })
</script>

