<div class="container-fluid" >
	<h1> <%= seatingChart.escape("name") %> </h1>
</div>
<div class="container" >
	<div class="row">
		<div class="col-xs-3" id="students-index">
			<table class="table
									  table-hover
									  table-condensed
									  connectedSortable">
				<thead>
			    <tr>
			    	<th> Drag Me! </th>
			      <th>Name</th>
			      <th>Math</th>
			      <th>Reading</th>
			    </tr>
		  	</thead>
				  <tbody id="students-table">
				  	<div >
				  	</div>
				  </tbody>
			</table>
			
		</div>
		<div class="col-xs-8">
			<table class="table
									  table
									  table-bordered
									  connectedSortable" id="classroom-grid" > </table>
		<div id="alerts">
			</div>
		</div>
		<div class="col-xs-1">
			<button class='btn btn-lg btn-success save-chart-button'> Save </button>
		</div>
		<div class="col-xs-1">
			<br>
			<button class='btn btn-lg btn-danger delete-chart-button'> Delete </button>
		</div>
		<div class="col-xs-1">
			<br>
			<button class='btn btn-lg btn-warning shuffle-students-button'> Shuffle! </button>
		</div>
		<div class="col-xs-1">
			<br>
			<button class='btn btn-lg btn-default show-reading-level-button'> Show Reading Level </button>
		</div>
		<div class="col-xs-1">
			<br>
			<button class='btn btn-lg btn-default show-math-level-button'> Show Math Level </button>
		</div>
	</div>
</div>
