<h4>
	<a class='seating-chart-index-item-name' href="#seating_charts/<%=seatingChart.id%>">
		<%= seatingChart.escape("name") %>
	</a>
</h4>
<br>
<button class="btn btn-xs btn-danger delete-seatingChart"> Delete </button>