
<div class="panel panel-primary" id="seating-chart-index-item" >
	<div class='panel-heading'
		<h4 class='panel-title'>
				<%= seatingChart.escape("name") %>
		</h4>
	</div
	<div class='panel-body seating-chart-index-item'>
		<container>
			<row>
				<div id='classroom-preview'>
				</div>
			</row>
			<row>
				<br><br>
				<button class="btn btn-xs btn-primary show-seatingChart seating-chart-index-item-button"> View </a>
				<button class="btn btn-xs btn-info edit-seatingChart seating-chart-index-item-button"> Edit </a>
				<button class="btn btn-xs btn-danger delete-seatingChart seating-chart-index-item-button"> Delete </button>
			</row>
	</div>
</div>