<div class="new-seating-chart-form">
<h4> Add Seating Chart </h4>
  <label for="seatingChart-title">Title</label>
  <input type="text"
         name="seatingChart[title]"
         id="seatingChart-title"
         ><br>
         <br>
<button type="submit" class="create-seatingChart">Create Seating Chart!</button>
<div>