Add Seating Chart
<br>
  <label for="seatingChart-title">Title</label>
<form class="new-seating-chart-form">
  <input type="text"
         name="name">
</form>
<br><br>
<button type="submit" class="create-seatingChart">Create Seating Chart!</button>