<div class="panel panel-primary col col-lg-12" id="new-seating-chart-index-item" >
	<div class='panel-heading row'>
		<div class='col col-xs-12'>
			<h4> New Seating Chart </h4>
		</div>
	</div>
	<div class="row">
			<form id="new-seating-chart"
						class="new-seating-chart-form form-inline">
			  <input 
			  			 type="text"
			         name="name"
			         placeholder="Name"
			         id="new-seating-chart-text">
			         <br>
			  				<br>
			  <input class='btn btn-xs btn-default' type="submit" id="new-seating-chart-button" name="Submit">
			</form>
	</div>
</div>