<div class="panel panel-info col col-lg-12 new-seating-chart-panel" >
	<div class='panel-heading row new-seating-chart-panel-header'>
		<div class='col col-xs-12'>
			<h4> New Seating Chart </h4>
		</div>
	</div>
	<div class="row">
		<div class='col col-xs-4'>
				
			</div >
			<div class='col col-xs-4'>
				<input class="btn btn-xs btn-default create-seating-chart-button" value="Create">
			</div >
			<div class='col col-xs-4'>
				
			</div >
	</div>
	<div class="row">
		<div class='classroom-preview col col-lg-12'>
		</div>
	</div>
	
</div>