<div class="m-background"></div>
<div class="m-content enter-edit-modal">
  <div class='col col-xs-12'>   
    <div class='row'> 
      <form class="form-horizontal">
        <fieldset>
          <legend> 
            New Seating Chart
          </legend>
          <div class="form-group">
				    <label for='seatingChart[name]' class='col col-xs-3 control-label'> Name: </label>
            <div class='col col-xs-9'>
				      <input class='form-control' type="text" name="seatingChart[name]" placeholder="e.g. Game Day...">
            </div>
          </div>
          <div class="form-group" >
            <div class="col col-xs-offset-3">
              <input type="submit" class="btn btn-primary btn-sm" value="Submit">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
