<div class="panel panel-primary" id="new-seating-chart-index-item">
	<div class='panel-heading' >
		<h4 class='panel-title' >
				New Seating Chart
		</h4>
	</div>
	<div class='panel-body seating-chart-index-item'>
			<br>
			<form id="new-seating-chart"
						class="new-seating-chart-form form-inline">
			  <input 
			  			 type="text"
			         name="name"
			         placeholder="Name"
			         id="new-seating-chart-text">
			</form>
	</div>
</div>
