<div class="m-background"></div>

<div class="m-content">
  <form>
    <button class="btn btn-xs btn-danger close">  &times;  </button>
    <br>
    <label> Name: 
    	<input class="text-field" type="text" name="seatingChart[name]" placeholder="e.g. Game Day...">
    </label>
    <input type="submit" class="btn btn-primary" value="Create Seating Chart!">
  </form>
</div>