<div class="m-background"></div>

<div class="m-content">
    <button class="btn btn-xs btn-danger close">  &times;  </button>
  <form >
  	<div class='fnew-seating-chart-form-group'>
	    <label for='seatingChart[name]'> Name: </label>
	    <input class="text-field" class='form-control' type="text" name="seatingChart[name]" placeholder="e.g. Game Day...">
	    </label>
	    <br>
	    <br>
	    <input type="submit" class="btn btn-primary" value="Create Seating Chart!">
  	</div>
  </form>
</div>