<h1> <%= seatingChart.escape("name") %> </h1>
<div class="container">
	<div class="row">
		<div class="col-xs-3" id="students-index"> </div>
		<div class="col-xs-8">
			<table class="table table-bordered" id="classroom-grid" > </table>
		</div>
		<div class="seat-assignments-index"> </div>
	</div>
</div>