<div class="m-background"></div>

<div class="m-content classroom-destroy-modal">

  <div class="alert alert-dismissible alert-warning">
    <h5>Warning!</h5>
    <p>
      You're about to destroy a classroom! Eek! If you do this all seat assignments associated with this classroom will be lost. 
    </p>
  </div>
    <button class="btn btn-danger confirm-destroy-classroom">
      Burn it down!
    </button>
    <button class="btn btn-info deny-destroy-classroom">
      Get me out of here!
    </button>
</div>