<div class="m-background"></div>

<div class="m-content classroom-destroy-modal">

  <div class="alert alert-dismissible alert-warning">
    <h5>ARE YOU SURE YOU WANT TO DO THIS?!</h5>
    <p>
      Destruction of a classroom can have disastrous consequences.

      It will destroy the classrooms, along with the associated sections, and seating charts.

      Eek!
    </p>
  </div>
    <button class="btn btn-danger confirm-destroy-classroom">
      No Regrets! Burn it down!
    </button>
    <button class="btn btn-info deny-destroy-classroom">
      Nevermind! Get me out of here!
    </button>
</div>