<div class="m-background"></div>

<div class="m-content classroom-modal">
  <form>
    <div class="form-group classroom-name" > 
      <label id="classroom-name-label" for="name"> Name </label>
      <input class="first-field" type="text" id="name" name="classroom[name]" placeholder="e.g., Room 100">
        <br>
    </div>
    <div class='form-group classroom-grid'>
      <div class="col-xs-8">
        <table class="table table-bordered" id="classroom-grid" >
        </table>
      </div>
      <br>
    </div>
    <div class="form-group submit-button">
      <input type="submit" class="btn btn-primary btn-sm create-classroom" value="Create Classroom">
    </div>
  </form>
</div>