<div class="m-background"></div>

<div class="m-content classroom-modal">
  <form>
    <div class="form-group classroom-name" > 
      <label id="classroom-name-label control-label" for="name"> Name </label>
        <input class="first-field form-control" type="text" id="classroom-name-input" name="classroom[name]" placeholder="e.g., Room 100">
          <br>
    </div>
    <div class='form-group classroom-grid'>
      <div class="col-xs-8">
        <table class="table table-bordered" id="classroom-grid" >
        </table>
      </div>
      <br>
      <div class="form-group submit-button">
        <input type="submit" class="btn btn-primary btn-sm create-classroom-modal" value="Create Classroom">
      </div>
    </div>
  </form>
</div>