<div class="panel panel-info new-classroom-panel col col-lg-12" id="classroom-index-item" >
	<div class='panel-heading new-classroom-panel-header row'>
		<div class='col col-xs-12'>
			<a class='classroom-index-item-panel-header' href="#classrooms/new"> <h4> New Classroom </h4> </a>
		</div>
	</div>
	<div class="row">
		<div class='col col-xs-4'>
		</div>
		<div class='col col-xs-4'>
			<a href="#classrooms/new">
			<input class="btn btn-xs btn-default delete-classroom classroom-index-item-button" value="Create">
			</a>
			
		</div>
		<div class='col col-xs-4'>
		</div>
	</div>
	<div class="row">
		<div class='classroom-preview col col-lg-12'>
		</div>
	</div>
</div>