<div class="m-background"></div>

<div class="m-content classroom-modal">
  <form class="form-horizontal new-classroom-modal">
    <button class="close">&times;</button>
    <label for="name"> Name </label>
    <input class="first-field" type="text" id="name" name="classroom[name]">
      <br>
    <input type="submit" class="btn btn-primary btn-sm" value="Create Classroom">
  </form>
  <div class="col-xs-8">
      <table class="table
                    table
                    table-bordered" id="classroom-grid" >
      </table>
    </div>
</div>