<div class="container">
<h3> My Students </h3>

<div class="row" id="students-index">
	<div class='col-xs-12'> 
		<table id="students-root-table" class="table table-bordered table-hover tablesorter">
		<thead id='students-root-table-head'>
			<th> First Name </th>
			<th> Last Name </th>
			<th> Gender </th>
			<th> Math Level </th>
			<th> Reading Level </th>
		</thead>
		<tbody id="students-root-table-body">
		</tbody>
	</div>
</div>
</div>

