<div class="container">
<h3> My Students </h3>
	<div class="row" id="students-index">
		<div class='col-xs-12'> 
			<table id="students-root-table" class="tablesorter table table-hover">
				<thead id='students-root-table-head'>
					<tr>
						<th> First Name <span class="glyphicon glyphicon-piggy-bank"></span></th> 
						<th> Last Name <span class="glyphicon glychicon-sort"></span> </th>
						<th> Gender <span class="glyphicon glychicon-sort"></span> </th>
						<th> Math Level <span class="glyphicon glychicon-sort"></span> </th>
						<th> Reading Level <span class="glyphicon glychicon-sort"></span> </th>
					</tr>
				</thead>
				<tbody id="students-root-table-body">
				</tbody>
			</table>
		</div>
	</div>
</div>

