<div class="m-background"></div>

<div class="m-content">
  <form class="form-horizontal">
    <button class="close">&times;</button>
    <label for="first_name"> First Name </label>
    <input class="first-field" type="text" id="first_name" name="student[first_name]">
    <label for="last"> Last Name </label>
    <input class="last-field" type="text" id="last_name" name="student[last_name]">
    <br>
    <label for="select-gender"> Gender </label>
    <select class="form-control" id="select-gender" name="student[gender]">
      <option>M</option>
      <option>F</option>
    </select>
    <label for="select-reading-level"> Reading Level </label>
    <select class="form-control" id="select-reading-level" name="student[reading_level]">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    <label for='select-math-level'> Math Level </label>
    <select class="form-control" id="select-math-level" name="student[math_level]">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
      <br>
    <input type="submit" class="btn btn-primary btn-sm" value="Create Student!">
  </form>
</div>