<div class="m-background"></div>

<div class="m-content section-destroy-modal">

  <div class="alert alert-dismissible alert-warning">
    <h5> Whoa! Hold up!</h5>
    <p>
      Destruction of a section is a pretty big deal.

      It will destroy the associated seating charts.

      Eek!
    </p>
  </div>
    <button class="btn btn-danger confirm-destroy-section">
      Proceed with section destruction.
    </button>
    <button class="btn btn-info deny-destroy-section">
      Nevermind! Get me out of here!
    </button>
</div>