<div class="container" id="<%= section.escape("id") %>">
	<div class="row">
		<div class='col col-xs-12 section-header'>
			<h2> <%=section.escape("name") %>
				<input type='submit' class="btn btn-danger destroy-section" value="Delete">
			</h2> 
		</div>
	</div>
	<div class="row">
		<div class='col col-xs-12'>
			<h4>
				<a href="#classrooms/<%=classroom.id%>/edit"> <%=classroom.escape("name") %> </a>
			</h4>
		</div>
	</div>
<div class="row" id="seating-charts-index">
	<div class='col-xs-8'> 
	</div>
</div>
</div>

