/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 @import 'bootstrap-sprockets';
 @import "bootswatch/cyborg/variables";
 @import 'bootstrap';
 @import "bootswatch/cyborg/bootswatch";

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.table-sorter-icon{
  float: right;
}

.student-icon-draggable.highlighted-student-icon.level1 {
  background-color: #9933cc;
  border-radius: 5px;
}
.student-icon-draggable.highlighted-student-icon.level2 {
  background-color: #9933cc;
  border-radius: 5px;
}
.student-icon-draggable.highlighted-student-icon.level3 {
  background-color: #9933cc;
  border-radius: 5px;
}
.student-icon-draggable.highlighted-student-icon.level4 {
  background-color: #9933cc;
  border-radius: 5px;
}
.student-icon-draggable.highlighted-student-icon.level5 {
  background-color: #9933cc;
  border-radius: 5px;
}

div.ui-draggable.student-icon-draggable:not(.student-icon-dragged){
  height: 100%;
  overflow: hidden;
}
.seating-chart-index-item-panel-header:hover, .classroom-index-item-panel-header:hover{
  text-decoration: none;
}

.student-icon-draggable-start {
  /*background-color: #9933CC;*/
}

.student-icon-draggable.ui-draggable-handle:not(.student-icon-dragged){
  color: #9933CC;
  font-weight: bold;
}

.form-group.new-seating-chart-form-group{
  margin: 0;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color:#060606;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}

.student-icon-draggable.level1 {
    background-color: rgb(10,37,50);
    border-radius:5px;
    width: 75px;
    height: 60px
}
.student-icon-draggable.level2 {
    background-color: rgb(42,159,214);
    border-radius:5px;
    width: 75px;
    height: 60px;
}

.student-icon-draggable.level3 {
    background-color: rgb(38,147,198);
    border-radius:5px;
    width: 75px;
    height: 60px
}

.student-icon-draggable.level4 {
    color:black;
    background-color: rgb(91,181,223);
    border-radius:5px;
    width: 75px;
    height: 60px
}
.student-icon-draggable.level5 {
    color: black;
    background-color: rgb(190,226,242);
    border-radius:5px;
    width: 75px;
    height: 60px
}

.splash-grid {
  table-layout: fixed;
}

.splash-grid-row {
  width: 100%;
  height: 100px;
}

 .classroom-row-modal {
    height:15px;
    width:15px;
 }

 .classroom-square-modal {
    height:15px;
    width:15px;
 }

 .classroom-square-modal.active {
    background-color: #1b1b1b;
 }

 #root {
  margin: 10px;
 }

 .added-student-item {
  margin: 5px;
 }

  .student-icon-assigned {
    color: black;
  }

  .student-icon-dragging {
    border-radius: 5px;
    text-align: center;
  }

  .student-icon-draggable{
    color: white;
    padding: 8px 16px;
    width: 75px;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
    text-align: center;
    overflow: hidden;         
    text-overflow: ellipsis;
  }

  .desk-small {
    border-radius: 3px;
  }

  .temp-desk{
    border-radius: 8px;
  }

  .desk {
    border-radius: 8px;
  }

  .desk-label-stationary {
    position: absolute;
    text-align: center;
    width: 45px;
    overflow: hidden;         
    text-overflow: ellipsis;
    margin: 0 auto;
    padding: 0px;
  }

  .desk-label {
    text-align: center;
    width: 50px;
    overflow: hidden;         
    text-overflow: ellipsis;
    margin: 0 auto;
    padding: 0px;
  }

  .student-draggable-container {
    width: 50px;
  }

 .classroom-row {
    height:60px;
    width:60px;
 }
 .student-icon-draggable-start{
  padding: 0px 0px, 0px 0px;
  position: relative;
 }

 .classroom-square {
    padding: 2px;
    position: relative;
    height:60px;
    width:75px;
 }

 .student-selected {
    background-color: blue;
 }
 .occupied {
    background-color: black;
    border-color: gray;
    border-radius: 5px;
    color: white;
 }
 
 .seating-chart-index-item-button {
    margin: 10px;
  }

 .classroom-index-item-button {
   margin: 10px;
   width: 50px;
 }

.classroom-grid-small {
    margin: 10px auto;
 }

 .create-seating-chart-button{
    width: 50px;
    margin: 5px;
 }

 .panel-heading.new-seating-chart-panel-header {
  background-color: #181818;
  border: none;
 }

 .panel.new-seating-chart-panel {
    border-style: dashed;
    border-color: #222222;
    border-width: thin;
    background-color: transparent;
 }

 .seating-chart-index-button{
    width: 50px;
    margin: 5px;
 }
