/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 @import 'bootstrap-sprockets';
 @import 'bootstrap';

.m-background {
  background: rgba(92, 88, 88, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.m-content {
  z-index: 2;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color:#060606;
  padding: 1pc;
  border: 1px solid;
  border-radius: 5px;
}

.splash-grid-row {
  width: 100%;
  height: 100px;
}

 #seating-chart-index-item {
 	height: 170px;
 }

 .classroom-row-modal {
    height:15px;
    width:15px;
 }

 .classroom-square-modal {
    height:15px;
    width:15px;
 }

 .classroom-square-modal.active {
    background-color: #1b1b1b;
 }

 #root {
  margin: 10px;
 }

 .added-student-item {
  margin: 5px;
 }
 
 .seating-chart-index-item-button {
    margin: 5px;
  }

  .student-icon-assigned {
    color: black;
  }

  .student-icon-dragging {
    border-radius: 5px;
    text-align: center;
  }

  .student-icon-draggable{
   /* width: 40px;
    height: 40px;*/
    padding: 0px;
    margin: 0px;
    text-align: center;
    overflow: hidden;         
    text-overflow: ellipsis;
  }

  .desk {
    border-radius: 5px;
  }

  .desk-label {
    width: 50px;
    overflow: hidden;         
    text-overflow: ellipsis;
    margin: 0 auto;
    padding: 0px;
  }

  .student-draggable-container {
    width: 50px;
    height: 50px;
  }

/*  table {
    table-layout: fixed;
  }

*/
 .classroom-row {
    height:60px;
    width:60px;
 }

 .classroom-square {
    padding: 0px 0px, 0px 0px;
    height:60px;
    width:80px;
 }

 .student-selected {
    background-color: blue;
 }

 .occupied {
    background-color: black;
    border-color: gray;
    border-radius: 5px;
    color: white;
 }

 #new-seating-chart-text {
  width: 80px;
 }


 #new-section-header {
 	color: #2a9fd6;
 }

 #new-seating-charts-index {
 	border-color: #2a9fd6;
 	height: 170px;
 	width: 100%;
 	border-radius: 5px;
 	border-style: dashed;
 }

 #new-seating-chart-index-item{
 	background-color: transparent;
 	height: 170px;
 	width: 170px;
 	border-style: dashed;
 }
